body {
  font-family: sans-serif;
  background: #f3f4f6;
  color: #111827;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
}

header {
  text-align: center;
  color: white;
}

.cabecalho {
  ax-width: 900px;
  margin: auto;
  background: #1a2a43;
  border-radius: 8px;
  padding: 20px;

}

h6 {
  text-align: center;
}

.tabs {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.tabs button {
  background: #e5e7eb;
  color: #1f2937;
  padding: 10px 20px;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  clip-path: polygon(0 100%, 10% 0, 90% 0, 100% 100%);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.tabs button:hover {
  background: #000000;
  color: white;
}
.tabs button.ativo {
  background: darkgray;
  border-bottom: 2px solid darkgray;
  z-index: 1;
}
.aba {
  display: none;
}
.aba.ativa {
  display: block;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  margin-top: 10px;
}
.card {
  background: #f9fafb;
  border-left: 6px solid #3b82f6;
  padding: 10px;
  border-radius: 6px;
}
.card p {
  margin: 5px 0;
  font-size: 0.95rem;
}
.card-icon {
  font-size: 1.5rem;
  margin-right: 5px;
}